/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.pane {
  background-color: #333;
}

.bar.bar-transparent {
  background-color: transparent;
  background-image: none;
  border: none;
}

.bar .title {
  color: #eee;
}

.swipe-cards {
  position: fixed;
}

swipe-card {
  display: none;
  position: fixed;
  background-color: black;
  -webkit-transform: scale(1,1);
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  height: 100%;
  -webkit-animation-fill-mode: forwards;

  -moz-box-shadow:0 0 20px 0 black;
  -webkit-box-shadow:0 0 20px 0 black;
  box-shadow:0 0 20px 0 black;
  z-index: 10;
}

swipe-card .swipe-card{
  height: 100%;
}

swipe-card .swipe-ctrl {
  height: 100%;
}

swipe-card .title {
  position: absolute;
  height: 50px;
  width: 100%;
  padding: 5px;
  padding-top: 50px;
  line-height: 30px;
  color: #fff;
  z-index: 10;
  bottom: 0px;
  font-family: helvetica neue;
  margin-bottom: 0px;
  background-image: linear-gradient( top, 
      rgba( 0, 0, 0, 0 ) 0%, 
      rgba( 0, 0, 0, 0.8 ) 100% );
  background-image: -moz-linear-gradient( top, 
      rgba( 0, 0, 0, 0 ) 0%, 
      rgba( 0, 0, 0, 0.8 ) 100% );
  background-image: -ms-linear-gradient( top, 
      rgba( 0, 0, 0, 0 ) 0%, 
      rgba( 0, 0, 0, 0.8 ) 100% );
  background-image: -o-linear-gradient( top, 
      rgba( 0, 0, 0, 0 ) 0%, 
      rgba( 0, 0, 0, 0.8 ) 100% );
  background-image: -webkit-linear-gradient( top, 
      rgba( 0, 0, 0, 0 ) 0%, 
      rgba( 0, 0, 0, 0.8 ) 100% );

  height: auto;
}

swipe-card .image {
  position: absolute;
  vertical-align: middle;
  height: 100%;
  overflow: hidden;
}

swipe-card .image img {
  width: auto;
  height: 100%;
  border-radius: 0px 0px 0px 0px;
  left: 0px;
}

swipe-card .image.move {
  right: -10px !important;
}

#start-card {
  color: #fff;
  background-color: #30BD8A;
  line-height: 300px;
  word-wrap: break-word;
  border: 6px solid #4CD68E;
  text-align: center;
}
#start-card span {
  display: inline-block;
  line-height: 40px;
  width: 200px;
  font-size: 30px;
  vertical-align: middle;
}

#footer .button {
  color: #fff;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0.8,0.8);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

swipe-card.pop-in-start {
  -webkit-transform: scale(0,0);
}
swipe-card.pop-in {
  -webkit-animation: bounceIn 0.2s ease-out;
}

.no-text {
    position: fixed;
    top: 45%;
    left: 10px;
    color: #33cd5f;
    font-size: 100px;
    font-family: helvetica neue;
    font-weight:  bold;
    z-index: -1;
    opacity: 0;
}

.yes-text {
    position: fixed;
    top: 45%;
    right: 10px;
    color: #ef473a;
    font-size: 100px;
    font-family: helvetica neue;
    font-weight:  bold;
    z-index: -1;
    opacity: 0;
}


.title.title-center.header-item {
  font-family: helvetica neue;
}

.vibe-content {
  font-family: 'open sans', sans-serif;
  line-height: 1.5;
  font-size: 20px;
}