<style>
	/* style for the news article */
	.vibe-content {
	  font-family: 'open sans', sans-serif;
	  line-height: 1.5;
	  font-size: 18px;
	}

	.vibe-content img {
		width: 100%;
		height: auto;
	}

	.vibe-content a {
		color: #636262;
	}

	.vibe-content p {
		margin: 0px 5px 20px 5px;
	}

	.vibe-content figcaption {
		padding: 10px 10px 10px 10px;
		font-size: 10px;
	}

	.vibe-content figcaption a {
		text-decoration: none;
	}
</style>

<ion-view view-title="{{title}}" style="background-color: white; color: black; font-family: Times; font-size: 20px;">
	<ion-nav-bar class="bar-light">
	  <ion-nav-back-button class="button-clear button-icon">
	    <i class="ion-chevron-left"></i>
	  </ion-nav-back-button>
	</ion-nav-bar>
  <ion-content class="" on-swipe-right="swipe('right');">
    <div class="vibe-content" id="vibe-content" ng-bind-html="content"></div> <!--important to be empty-->
  </ion-content>
  
</ion-view>


